<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Twoj Widok</title>
            </f:facet>
            <style>
                .nieprzeczytana{
                    background-color: greenyellow;
                }
            </style>
        </h:head>
        <h:body>
            <h:form id="formOdebrane">
                <p:dataTable id="tabela" 
                             value="#{controlWiadomosc.wiadomosci}" 
                             var="Wiadomosc" rowStyleClass="#{Wiadomosc.przeczytana lt 1 ? 'nieprzeczytana' : null}" >

                    <f:facet name="header">
                        Odebrane
                    </f:facet>
                    <p:column headerText="Nadawca" >
                        <h:outputText value="#{Wiadomosc.nadawca.username}" />
                    </p:column>

                    <p:column headerText="Temat">
                        <h:outputText value="#{Wiadomosc.tytul}" />
                    </p:column>

                    <p:column headerText="Data wyslania">
                        <h:outputText value="#{Wiadomosc.dataWyslania}" />
                    </p:column>
                    <p:column headerText="Odczytaj">
                        <p:commandButton action="#{controlWiadomosc.odczytaj(Wiadomosc)}" value="odczytaj" update="@form" />
                    </p:column>

                </p:dataTable>
                <p:commandButton value="Nowa" oncomplete="PF('dlg').show()" icon="ui-icon-disk" />

                <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade">
                    <p:selectOneMenu id="car" value="#{controlWiadomosc.odbiorca}">
                        <f:selectItems value="#{controlWiadomosc.uzytkownicy}" var="Odbiorca" itemLabel="#{Odbiorca.username}" itemValue="#{Odbiorca.username}"/>
                    </p:selectOneMenu>
                    <p:inputText value="#{controlWiadomosc.tytul}" />
                    <p:editor id="editor" widgetVar="editorWidget" value="#{controlWiadomosc.wiadomosc}" width="600" />
                    <p:commandButton value="wyslij" action="#{controlWiadomosc.wyslij()}" update=":formOdebrane:tabela" />
                </p:dialog>

                <p:dialog header="Content" widgetVar="dlg_read" showEffect="fade" hideEffect="fade">
                    <p:scrollPanel mode="native" >
                        <h:outputText value="#{controlWiadomosc.wybranaWiadomosc.tresc}" escape="falsse" />
                    </p:scrollPanel>
                </p:dialog>
            </h:form>
        </h:body>
    </f:view>

</html>
