<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <title>TODO supply a title</title>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
        </h:head>
        <h:body>

            <h1>Hello Admin</h1>
            <br />
            <h:link outcome="/index" value="Back to Homepage" />
            #{controlUser.username()}


            <h:form id="formUsers">
                <p:growl id="growl" life="2000" />
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" value="#{controlUser.userList}" var="User">
                    <f:facet name="header">
                        Uzytkownicy
                    </f:facet>
                    <p:column headerText="Nazwa">
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{User.username}" />
                    </p:column>

                    <p:column headerText="Grupa">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{controlUser.getUserGroup(User.username)}" />
                    </p:column>
                    <p:column style="text-align: center" headerText="Inne">
                        <p:commandButton action="#{controlUser.deleteUser(User.username)}" update="@form" icon="ui-icon-trash"/>
                    </p:column>
                </p:dataTable>
                <div>
                    <p:outputLabel value="Nazwa uzytkownika" />
                    <p:inputText value="#{controlUser.selectedUsername}" />
                </div>
                <div>
                    <p:outputLabel value="Haslo" />
                    <p:inputText value="#{controlUser.selectedPassword}" />
                </div>
                <div>
                    <p:selectOneMenu  value="#{controlUser.selectedGroup}" var="Group" style="width:125px">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItems value="#{controlUser.groups}" />
                    </p:selectOneMenu>
                </div>
                <div>
                    <p:commandButton action="#{controlUser.addUser}" value="dodaj" update="@form"/>
                </div>
                <p:commandButton action="#{logout.logout()}" value="Wyloguj"/>
            </h:form>

        </h:body>
    </f:view>
</html>
