<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Widok</title>
            </f:facet>
            <f:metadata>
                <f:viewParam name="przedid" value="#{addZastosowanieForPrzedmiot.przedmiotID}"/>
                
            </f:metadata>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>

            <h:form>
            <p:pickList id="pickList" 
                        value="#{addZastosowanieForPrzedmiot.zastosowania}" 
                        var="Zastosowanie" 
                        converter="entityConverter"
                        itemLabel="#{Zastosowanie.nazwa}" 
                        itemValue="#{Zastosowanie}"
                         />

            <p:commandLink id="add_items" value="Submit" action="#{addZastosowanieForPrzedmiot.add_zastosowania()}" update="" style="margin-top:5px" >
                <f:param name="przedid" value ="#{addZastosowanieForPrzedmiot.przedmiotID}"/>
            </p:commandLink>
            </h:form>
        </h:body>
    </f:view>
</html>