<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Przedmioty</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>
            <!--<div>Przedmioty</div>-->
            <h:form id="formPrzedmioty">
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" value="#{controlPrzedmiot.przedmioty}" var="Przedmiot">
                    <f:facet name="header">
                        Przedmioty
                    </f:facet>
                    <p:column headerText="Id">
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{Przedmiot.id}" />
                    </p:column>

                    <p:column headerText="Nazwa">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Przedmiot.nazwa}" />
                    </p:column>
                    
                    <p:column headerText="Właściciel">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{controlPrzedmiot.ownerName(Przedmiot)}" />
                    </p:column>



                    <p:column style="width:64px;text-align: center" headerText="Inne">
                        <f:facet name="header"><h:outputLabel value="Inne"/></f:facet>
                        <p:commandButton action="#{deletePrzedmiot.deletePrzedmiot(Przedmiot)}" update="@form" icon="ui-icon-trash"/>
                    </p:column>
                </p:dataTable>

                <!--</p:panel>-->
                <br/>
<!--                <div>
                    <p:commandButton value="Dodaj przedmiot" action="addprzed"/>
                </div>-->
            </h:form>
        </h:body>
    </f:view>

</html>
