<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Zastosowania przedmiotu pracownika</title>
            </f:facet>
        </h:head>
            <f:metadata>
                <f:viewParam name="pracid" value="#{controlZastosowaniaPrzedmiotuPracownika.pracownikID}"/>
                <f:viewParam name="przedid" value="#{controlZastosowaniaPrzedmiotuPracownika.przedmiotID}"/>
                
            </f:metadata>
        <h:body>
            <!--<div>Tutaj bedzie program</div>-->
            <ui:include src="navbar.xhtml"/>
      
            <h:form id="formZastosowaniaPrzedmiotuPracownika">
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" value="#{controlZastosowaniaPrzedmiotuPracownika.zastosowania}" var="Zastosowanie">
                    <f:facet name="header">
                        Zastosowania przedmiotu #{controlZastosowaniaPrzedmiotuPracownika.przedmiot.nazwa} nalezacego do #{controlZastosowaniaPrzedmiotuPracownika.imiePracownika()}
                    </f:facet>
                    <p:column headerText="Id">
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{Zastosowanie.id}" />
                    </p:column>

                    <p:column headerText="Nazwa">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Zastosowanie.nazwa}" />
                    </p:column>



                    <p:column style="text-align: center" headerText="Inne">
                        <f:facet name="header"><h:outputLabel value="Inne"/></f:facet>
                        <h:commandLink action="#{controlZastosowaniaPrzedmiotuPracownika.deleteZastosowanie(Zastosowanie)}"
                                         value="usun">
                            
                        </h:commandLink>
                        
                      
                    </p:column>
                </p:dataTable>

                <!--</p:panel>-->
                <br/>
            </h:form>
        </h:body>
    </f:view>

</html>
