<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Widok</title>
            </f:facet>
            <f:metadata>
                <f:viewParam name="zadid" value="#{controlCzynnosc.idZadanie}"/>

            </f:metadata>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>

            <h:form id="formularz">
                <p:dataTable id="tabela" value="#{controlCzynnosc.czynnoscList}" var="Czynnosc">
                    <f:facet name="header">
                        Czynnosci
                    </f:facet>
                    <p:column headerText="Id">
                        <h:outputText value="#{Czynnosc.id}" />
                    </p:column>

                    <p:column headerText="Nazwa">
                        <h:outputText value="#{Czynnosc.nazwa}" />
                    </p:column>

                    <p:column headerText="Stawka">
                        <h:outputText value="#{Czynnosc.stawka}" />
                    </p:column>

                    <p:column headerText="Czas trwania">
                        <h:outputText value="#{Czynnosc.czasTrwania}" />
                    </p:column>

                    <p:column headerText="Usun">
                        <p:commandButton action="#{controlCzynnosc.deleteCzynnosc(Czynnosc)}" update=" tabela" value="Usun"/>
                    </p:column>

                </p:dataTable>

                <span>
                    <p:outputLabel value="Nazwa: "/>
                    <p:inputText value="#{controlCzynnosc.tmpczynnoscNazwa}"/>
                </span>
                <span>
                    <p:outputLabel value="Stawka: "/>
                    <p:inputText value="#{controlCzynnosc.tmpczynnoscStawka}"/>
                </span>
                <span>
                    <p:outputLabel value="Czas trwania: "/>
                    <p:inputText value="#{controlCzynnosc.tmpczynnoscCzasTrwania}"/>
                </span>


                <div>
                    <p:commandButton value="Sprawdz pracownikow" action="#{controlCzynnosc.checkPracownik}" update="tabela listaprac"/>
                    <p:commandButton value="Dodaj czynnosc" action="#{controlCzynnosc.addCzynnosc}" update="tabela listaprac"/>
                </div>
                <p:pickList id="listaprac" 
                            value="#{controlCzynnosc.pracownicy}" 
                        var="Pracownik" 
                        converter="entityConverter"
                        itemLabel="#{controlCzynnosc.nazwaPracownik(Pracownik)}" 
                        itemValue="#{Pracownik}"
                         />
            </h:form>
        </h:body>
    </f:view>
</html>