<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Dodaj zastosowanie</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>
            
            
            <h:form id="formulaz">
                <div><p:outputLabel>DODAJ NOWE ZADANIE</p:outputLabel></div>
                <p:growl id="growl" life="2000" />
                <div>
                    <p:outputLabel value="Nazwa: "/>
                    <p:inputText value="#{addZadanie.nazwa}"/>
                </div>
                
                <p:outputLabel for="popup" value="Czas rozpoczecia:" />
                <p:calendar id="popup" value="#{addZadanie.czasRozpoczecia}" pattern="MM/dd/yyyy HH:mm:ss" />

                <div>
                    <p:commandButton value="Dodaj Zadanie" action="#{addZadanie.dodajZadanie()}"/>
                </div>

            </h:form>
        </h:body>
    </f:view>
</html>
