<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Widok</title>
            </f:facet>
            <f:metadata>
                <f:viewParam name="pracid" value="#{AddPrzedmiotForPracownik.pracownikID}"/>
                
            </f:metadata>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>

            <h:form>
            <p:pickList id="pickList" 
                        value="#{AddPrzedmiotForPracownik.przedmioty}" 
                        var="przedmiot" 
                        converter="entityConverter"
                        itemLabel="#{przedmiot.nazwa}" 
                        itemValue="#{przedmiot}"
                         />

            <p:commandLink id="add_items" value="Submit" action="#{AddPrzedmiotForPracownik.addPrzedmioty()}" update="" style="margin-top:5px" >
                <f:param name="pracid" value ="#{AddPrzedmiotForPracownik.pracownikID}"/>
            </p:commandLink>
            </h:form>
        </h:body>
    </f:view>
</html>