<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
     <h:body>
        Select where you want to go:
        <br />
        <h:link outcome="admin/index" value="Modul admina" /><br />
        <h:link outcome="uzytkownik/widok_zadania" value="Modul uzytkownika" /><br />
        <h:link outcome="klient/widok_zadania" value="Modul klienta" />
    </h:body>
</html>

