<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Login</title>
            </f:facet>
        </h:head>

        <h:body>
        <p:panel header="Login Error">
            Sorry, you made an Error. Please try again: <h:link outcome="/index" value="Logowanie"/>
        </p:panel>
    </h:body>
    </f:view>

</html>