<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition>
            <p:tabMenu activeIndex="#{param.i}">
                <p:menuitem value="Lista pracowników" outcome="widok" icon="ui-icon-star">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="Dodaj pracownika" outcome="addprac" icon="ui-icon-search">
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="Lista przedmiotów" outcome="widok_przedmioty" icon="ui-icon-document">
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="Dodaj przedmiot" outcome="addprzed" icon="ui-icon-wrench">
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="Dodaj zastosowanie" outcome="add_zastosowanie" icon="ui-icon-wrench">
                    <f:param name="i" value="4" />
                </p:menuitem>
                <p:menuitem value="Lista zastosowań" outcome="widok_zastosowania" icon="ui-icon-wrench">
                    <f:param name="i" value="5" />
                </p:menuitem>
                <p:menuitem value="Dodaj zadanie" outcome="add_zadanie" icon="ui-icon-wrench">
                    <f:param name="i" value="6" />
                </p:menuitem>
                <p:menuitem value="Wyswietl zadania" outcome="widok_zadania" icon="ui-icon-wrench">
                    <f:param name="i" value="7" />
                </p:menuitem>
            </p:tabMenu>
        </ui:composition>
    </body>
</html>
