<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Twoj Widok</title>
            </f:facet>
        </h:head>
            <f:metadata>
                <f:viewParam name="pracid" value="#{controlPrzedmiotyPracownika.pracownikID}"/>
                <f:event type="preRenderView" listener="#{controlPrzedmiotyPracownika.loadData}"/>
            </f:metadata>
        <h:body>
            <!--<div>Tutaj bedzie program</div>-->
            <ui:include src="navbar.xhtml"/>
      
            <h:form id="formPrzedmiotyPracownika">
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" value="#{controlPrzedmiotyPracownika.getPrzedmiotyPracownika()}" var="Przedmiot">
                    <f:facet name="header">
                        Przedmioty pracownika #{controlPrzedmiotyPracownika.imiePracownika()}
                    </f:facet>
                    <p:column headerText="Id">
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{Przedmiot.id}" />
                    </p:column>

                    <p:column headerText="Nazwa">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Przedmiot.nazwa}" />
                    </p:column>



                    <p:column style="text-align: center" headerText="Inne">
                        <f:facet name="header"><h:outputLabel value="Inne"/></f:facet>
                        <h:commandLink action="#{controlPrzedmiotyPracownika.deletePrzedmiotPracownika(Przedmiot)}"
                                         value="usun">
                            <f:param name="pracid" value ="#{controlPrzedmiotyPracownika.pracownikID}"/>
                            <!--<f:setPropertyActionListener target="#{controlPrzedmiotyPracownika.pracownikID}" value="#{controlPrzedmiotyPracownika.pracownikID}"/>-->
                            <f:attribute name="test" value="test"/>
                            <f:param name="i" value="-1"/>
                        </h:commandLink>
                        <br/>
                        
                       <p:button outcome="zastosowania_przedmiotu_pracownika" value="Wyświetl zastosowania">
                            <f:param name="pracid" value ="#{controlPrzedmiotyPracownika.pracownikID}"/>
                            <f:param name="przedid" value ="#{Przedmiot.id}"/>
                            <f:param name="i" value="-1"/>
                        </p:button>
                        <p:button outcome="add_zastosowania_przedmiotu_pracownika" value="Dodaj zastosowania">
                            <f:param name="pracid" value ="#{controlPrzedmiotyPracownika.pracownikID}"/>
                            <f:param name="przedid" value ="#{Przedmiot.id}"/>
                            <f:param name="i" value="-1"/>
                        </p:button>
                    </p:column>
                </p:dataTable>

                <!--</p:panel>-->
                <br/>
            </h:form>
        </h:body>
    </f:view>

</html>
