<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Twoj Widok</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>
            <!--<div>Tutaj bedzie program</div>-->
            <h:form id="formPracownicy">
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" value="#{Controler1.zatrudnieni}" var="Pracownik">
                    <f:facet name="header">
                        Pracownicy
                    </f:facet>
                    <p:column headerText="Id">
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{Pracownik.id}" />
                    </p:column>

                    <p:column headerText="Imie">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Pracownik.imie}" />
                    </p:column>

                    <p:column headerText="Nazwisko">
                        <!--<f:facet name="header"><h:outputLabel value="Nazwisko"/></f:facet>-->
                        <h:outputText value="#{Pracownik.nazwisko}" />
                    </p:column>
                    
                    <p:column headerText="Stawka">
                        
                        <h:outputText value="#{Pracownik.stawka}" />
                    </p:column>

                    <p:column style="text-align: center" headerText="Inne">
                        <!--<f:facet name="header"><h:outputLabel value="Inne"/></f:facet>-->
                        <p:commandButton action="#{deletePracownik.deletePracownik(Pracownik)}" update="@form" icon="ui-icon-trash"/>
                        <p:button outcome="przedmioty_pracownika" value="Przedmioty pracownika">
                            <f:param name="pracid" value ="#{Pracownik.id}"/>
                            <f:param name="i" value="-1"/>
                        </p:button>
                        <p:button outcome="add_przedmiot_prac" value="dodaj przedmiot">
                            <f:param name="i" value="-1"/>
                            <f:param name="pracid" value ="#{Pracownik.id}"/>
                        </p:button>
                    </p:column>
                </p:dataTable>

                <!--</p:panel>-->
                <br/>
<!--                <div>
                    <p:commandButton value="Dodaj pracownika" action="addprac"/>
                </div>-->
            </h:form>
        </h:body>
    </f:view>

</html>
