<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
                <title>Twoj Widok</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="navbar.xhtml"/>
            <!--<div>Tutaj bedzie program</div>-->
            <h:form id="formZadania">
                <!--<p:panel header="Pracownicy">-->
                <p:dataTable id="tabela" 
                             value="#{controlZadanie.zadania}" 
                             var="Zadanie" 
                             selectionMode="multiple"

                             selection="#{controlZadanie.wybraneZadania}"  rowKey="#{Zadanie.id}">
                    <p:ajax event="toggleSelect" process="@this" update="pods"/>
                    <p:ajax event="rowSelect" process="@this" update="pods"/>
                    <p:ajax event="rowUnselect" process="@this" update="pods"/>
                    <f:facet name="header">
                        Zadania
                    </f:facet>
                    <p:column style="width:16px">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Id" >
                        <!--<f:facet name="header"><h:outputLabel value="Id"/></f:facet>-->
                        <h:outputText value="#{Zadanie.id}" />
                    </p:column>

                    <p:column headerText="Nazwa">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Zadanie.nazwa}" />
                    </p:column>

                    <p:column headerText="Data rozpoczecia">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{Zadanie.czasRozpoczecia}" />
                    </p:column>

                    <p:column headerText="Data zakonczenia">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{controlZadanie.dataZakonczeniaZadania(Zadanie)}" />
                    </p:column>
                    <p:column headerText="Koszt">
                        <!--<f:facet name="header"><h:outputLabel value="Imie"/></f:facet>-->
                        <h:outputText value="#{controlZadanie.kosztZadania(Zadanie)}" />
                    </p:column>

                    <p:column style="text-align: center" headerText="Inne">
                        <p:commandButton action="#{controlZadanie.deleteZadanie(Zadanie)}" update="@form" icon="ui-icon-trash"/>
                        <p:button outcome="add_czynnosc_zadanie" value="Zarzadzaj czynnosciami">
                            <f:param name="zadid" value ="#{Zadanie.id}"/>
                            <f:param name="i" value="-1"/>
                        </p:button>
                    </p:column>

                    <f:facet name="footer">
                        <h:panelGroup layout="block" id="pods">
                            <h:outputText value="Koszt wybranych zadan: " />
                            <h:outputText value="#{controlZadanie.kosztWieluZadan(controlZadanie.wybraneZadania)}" />
                        </h:panelGroup>
                    </f:facet>

                    <p:rowExpansion>
                        <p:dataTable 
                            value="#{controlZadanie.statystykaPracownika(Zadanie)}" 
                            var="Stat" style="width:500px">
                            <f:facet name="header">
                                pracownicy
                            </f:facet>
                            <p:column headerText="Imie">
                                <h:outputText value="#{Stat.pracownik.imie}" />
                            </p:column>
                            <p:column headerText="Nazwisko">
                                <h:outputText value="#{Stat.pracownik.nazwisko}" />
                            </p:column>
                            <p:column headerText="Czas pracy">
                                <h:outputText value="#{Stat.czas}" />
                            </p:column>
                            <p:column headerText="Koszt">
                                <h:outputText value="#{Stat.koszt}" />
                            </p:column>
                        </p:dataTable>

                        <p:dataTable 
                            value="#{controlZadanie.statystykaSprzetu(Zadanie)}" 
                            var="Stat" style="width:500px">
                            <f:facet name="header">
                                Sprzet
                            </f:facet>
                            <p:column headerText="Nazwa">
                                <h:outputText value="#{Stat.czynnosc.nazwa}" />
                            </p:column>
                            <p:column headerText="Czas pracy">
                                <h:outputText value="#{Stat.czas}" />
                            </p:column>
                            <p:column headerText="Koszt">
                                <h:outputText value="#{Stat.koszt}" />
                            </p:column>
                        </p:dataTable>

                        <p:panelGrid columns="2" style="width:500px">
                            <f:facet name="header">
                                <h:outputText value="Srednie:" />
                            </f:facet>

                            <h:outputText value="Pracownika:" />
                            <h:outputText value="#{controlZadanie.sredniaStawkaPracownika(Zadanie)}" />

                            <h:outputText value="Sprzetu:" />
                            <h:outputText value="#{controlZadanie.sredniKosztCzynnosci(Zadanie)}" />
                        </p:panelGrid>

                    </p:rowExpansion>


                </p:dataTable>

                <!--</p:panel>-->
                <br/>
                <!--                <div>
                                    <p:commandButton value="Dodaj pracownika" action="addprac"/>
                                </div>-->
            </h:form>
        </h:body>
    </f:view>

</html>
